@charset "UTF-8";

/* Mobile First */

:root{
    --corsection: #E4EBF3;
    --cor1: #4C7865;
    --cor2: #54C495;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #78524C;
}

section{
    background-color: var(--corsection);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 20px;
    width: 250px;
    height: 570px;
    overflow: hidden;
    transform: translate(-50%, -50%); /* Colocar animações sempre no final das declarações no seletor */
}

div#imagem{
    background: black url(../imagem/pexels.jpg) center center no-repeat;
    /* Shorthand background: cor imagem posição repetir attachment */
    background-size: cover;
    height: 200px;
}

div#formulario{
    padding: 15px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    text-shadow: 1px 1px 3px #02020257;
}

div#formulario > p{
    text-align: justify;
}

div#formulario .campo{
    border-radius: 7px;
    border: 1px solid var(--cor1);
    background-color: var(--cor1);
    margin: 5px 0px ;
    height: 42px;
    overflow: hidden;
}

div#formulario .material-icons{
    font-size: 2em;
    margin-top: 4px;
    padding: 0px 3px ;
    width: 36px;
    color: var(--corsection);
}

div#formulario .inputcampo{
    background-color: var(--corsection);
    border: none;
    width: calc(100% - 40px);
    border-radius: 7px;
    height: 100%;
    padding: 5px;
    transform: translateY(-12px);
}

div#formulario input[type= submit]{
    border-radius: 10px;
    background-color: var(--cor2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.288);
    display: block;
    width: 100%;
    height: 40px;
    border: none;
}

div#formulario input[type= submit]:hover{
    background-color: var(--cor1);
    transition-duration: .4s;
    cursor: pointer;
}

div#formulario div#lembrardemim,a{
    text-decoration: none;
    color: #020202;
    display: block;
    text-align: center;
    margin: 5px 0px;
}

div#formulario a:hover{
    text-decoration: underline;
}
